@import './reset.css';
@import './bootstrap/index.css';

/* 布局 */
.container{
  height:1600px;
}
.g-sd{
  float:left;
  width:200px;
}
.g-mn{
  margin-left:200px;
}

/* color */
#color{
  height:500px;
}
.rgbInput{
  width:50px;
}
#hexInput{
  letter-spacing: 6px;
}
.colorOutput{
  display: inline-block;
  width:16px;
  height:16px;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0,0,0,0.6);
}